body {
  background-color: black;
  width: 100%;
  margin: 0px;
  cursor: url('curser/curser.png'), auto;
  
  
}p {
  margin: 0px;
  cursor: url('curser/curser.png'), auto;
  
}*{
 user-select: none;
}



@media  (max-width: 800px  ) {
  body {
    scale: 0.65;
    position: fixed;
    top: 175px;
  }
}

@media (max-width: 600px) {
  body {
    transform: rotate(90deg);
    position: relative;
    top: 330px;

  }

  
}
