.mainBox {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
 

}.pageBorder{
  position: absolute;
  top: -250%;
  left: -500%;
 
}.pageBackground {
  position: absolute;
  top: 10%;
  left: 7%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 860px;
  height: 400px;
  background-image: url(Images/HomePagePicture.jpg);
 opacity: 0;
  visibility: hidden;
  
  
}.pageBackgroundShow {
  visibility: visible;
  opacity: 1;
  transition: opacity 6s;
  
  
}




.firstScene {
  position: absolute;
  top: 10%;
  left: 7%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 860px;
  height: 400px;
  background-color: black;
  transition: background-color 3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}.continueStartHide {
  visibility: hidden;
}.logo {
  font-size: 100px;
  font-weight: bolder;
  background-image: url(Images/title\ text\ background.jpg);
  background-clip: text;
  font-family: textFont;
  width: 860px;
  height: 400px;
  border: none;
  cursor: url('curser/clickCurser.png'), auto;
  letter-spacing: 5px;
  background-image: linear-gradient(50deg, #f1bc76, #9e3f00);
  background-clip: text;
  color: transparent;
  position: absolute;
}.continueStart{
  display: flex;
  text-align: end;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.616);
  opacity: 0;
  animation: fadeEffect 1s infinite alternate; 
  pointer-events: none;
  margin-top: 320px;
  opacity: 1;
}

@keyframes fadeEffect {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}






.titleHomePage {
  display: flex;
  justify-content: center;  
  align-items: center;
  
  position: absolute;
  left: 65%;
}.gameTitle {
  position: absolute;
  top: 50px;
  font-family: titleFont;
  font-size: 100px;
  font-weight: bolder;
  background-image: url(Images/title\ text\ background.jpg);
  background-clip: text;
  color: transparent;

}#secondTitle {
  top: 150px;

}#thirdTitle {
  top: 250px;
}

.startButton,.optionButton,.quitButton {
  display: flex;
  position: absolute;
  bottom: 60%;
  left: 7%;
  font-size: 40px;
  font-family: textFont;
  border: none;
  cursor: url('curser/clickCurser.png'), auto;
  letter-spacing: 5px;
  background-image: linear-gradient(50deg, #f1bc76, #9e3f00);
  background-clip: text;
  color: transparent;
  

}.startButton:active , .optionButton:active ,
.startButton:active {
  transform: scale(0.9);

}.optionButton {
  bottom: 41%;
  left: 7%;
  
}.quitButton{
  bottom: 22%;
  left: 7%;
}.homePageClose{
  visibility: hidden;
  pointer-events: none;

}.pageBackgroundHidden { 
  transition: visibility 1s ease;
  visibility: hidden;

}

