.fade {
  position: absolute;
  top: 10%;
  left: 7%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 860px;
  height: 400px;
  background-color: black;
  transition: background-color 3s ease;
  /**/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s , visibility 0.5s;
  

}.fadeIn {
  opacity: 1;
  transition: opacity 1s;
  visibility: visible ;
  
  
  
}.exitStart {
  pointer-events: all;
  cursor: url('curser/clickCurser.png'), auto;
  position: absolute;
  top: 10px;
  right: 10px;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(255, 145, 0), rgb(245, 190, 8)) 1;
  font-family:titleFont ;
  background-image: url(Images/title\ text\ background.jpg);
  font-size: 15px;
  font-weight: bolder;
}.exitStart:active {
  transform: scale(0.9);
}
/**/
.allPicture {
  width: 150px;
  height: 240px;
  border-radius: 20px;
  margin-top: 60px;
  cursor: url('curser/clickCurser.png'), auto;
 
}.allPicture:active {
  scale: 0.9;
}.chooseHeroText {
  position: absolute;
  top: 50px;
  font-family: titleFont;
  font-size: 50px;
  font-weight: bolder;
  background-image: url(Images/title\ text\ background.jpg);
  background-clip: text;
  color: transparent;
}